
  <div class="col-3 p-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= movie.name %></h5>
        <hr>
        <div>
          <%= link_to "Mostrar Pelicula", movie, class: "btn btn-primary" %>
          <%= link_to "Editar pelicula", edit_movie_path(movie), class: "btn btn-primary"  %>
        </div>
      </div>
    </div>
  </div>
