<h1>Editing movie</h1>

<section id="newForm">
    <%= render "form", movie: @movie %>
</section>

<br>

<div>
  <%= link_to "Show this movie", @movie %> |
  <%= link_to "Back to movies", movies_path %>
</div>
