<h1>Editar Pelicula</h1>
<hr>
<section id="newForm">
<div>
    <%= render "form", movie: @movie %>
<hr>
    <%= link_to "Mostrar Pelicula", @movie, class: "btn btn-primary" %>
    <%= link_to "Volver a la lista", movies_path, class: "btn btn-primary" %>
</div>
</section>
