<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Peliculas</h1>
  <hr>
  <div id="movies">
    <div class="row">
      <% @movies.each do |movie| %>
        <%= render movie %>
      <% end %>
    </div>
  </div>
</div>
