<h1>Editar Cliente <%=@client.id%> </h1>
<hr>
<section id="newForm">
    <%= render "form", client: @client %>
    <hr>
    <div style="text-align: center">
      <%= link_to "Mostrar cliente", @client, class: "btn btn-primary" %>
      <%= link_to "Volver a la lista", clients_path, class: "btn btn-primary" %>
    </div>
</section>
