<h1>Editar Cliente <%=@client.id%> </h1>

<section id="newForm">
    <%= render "form", client: @client %>
</section>

<br>

<div style="text-align: center">
  <%= link_to "Mostrar cliente", @client %> |
  <%= link_to "Volver a lista clientes", clients_path %>
</div>
