/* #PaletaColores1 */
:root{
  --MENU:#87C159;
  --MENU_HOVER:#058240;
  --FORM_BG:#FEE3A2;
  --BG_COLOR:#F3C301;
  --CARD_BG:#FEE3A2;
  --BOTTON_BG:#ADCACB;
  --TEXT_COLOR:#000;
}

/* #PaletaColores2
:root{
  --MENU:#00457E;
  --MENU_HOVER:#02315E;
  --FORM_BG:#B9848C;
  --BG_COLOR:#806491;
  --CARD_BG:#FEE3A2;
  --BOTTON_BG:#ADCACB;
  --TEXT_COLOR:#000;
}

/* Menu */
.navbar{
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar *{
  font-weight: bolder;
}

.navbar-light{
  background-color: var(--MENU) !important;
}

ul.navbar-nav{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navbar-brand{
  margin: 8px;
  padding: 5px;
}

.navbar-brand:hover,
.nav-item:hover {
  background-color: var(--MENU_HOVER);
  border-radius: 5px;
  text-shadow: 0px 0px 5px white;
}

h1,h2{
  text-align: center;
  text-transform: capitalize;
  text-wrap: stable;
}

.card{
  text-align: center;
  background-color: var(--CARD_BG);
  box-shadow: -5px -5px 7px, inset 2px 2px;
/*  transition: box-shadow 0.3s ease-in-out; */
  transition: all 0.25s ease-in-out;
}

.card:hover{
/*  box-shadow: 5px 5px 7px, inset -2px -2px; */
  box-shadow: 0 0 10px 5px;
  scale: 1.01;
}

.card .btn{
  margin:5px;
}

.row{
  align-items: center;
}
/* Formulario */
#newForm{
  background-color: var(--FORM_BG);
  width: fit-content;
  margin: 0 auto;
  padding: 5vw;
}

#newForm form{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px;
  margin: 0;
}

/* body */
body{
  background-color: var(--BG_COLOR);
  padding-bottom: 25px ;
}

th,td{
  text-align: center;
}

table>*{
  background-color: rgba(0, 0, 0, 0.05);
  border: 4px black double;
}

table a{
  appearance: button;
  border: 2px solid black;
  padding: 1px 6px;
  background-color: var(--CARD_BG);
  color: var(--TEXT_COLOR);
  text-decoration: none;
}

input[value="delete"]+button{
  background-color: red;
}

#showMovie{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  >*{
    margin: 5px 0px;
  }
}

#footer{
  text-align: center;
  position: sticky;
  padding: 5px;
  right: 15px;
  bottom: -55px;
}