/* #colores */
:root{
  --MENU:#87C159;
  --MENU_HOVER:#058240;
  --FORM_BG:#FEE3A2;
  --BG_COLOR:#F3C301;
  --CARD_BG:#FEE3A2;
  --BOTTON_BG:#ADCACB;
}
/* Menu */
.navbar{
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar-light{
  background-color: var(--MENU) !important;
}

.navbar-nav{
  text-align: end;
}

.navbar-brand{
  padding: 5px;
}

.navbar-brand:hover,
.nav-item:hover {
  background-color: var(--MENU_HOVER);
  border-radius: 5px;
  text-shadow: 0px 0px 5px white;
}

h1{
  text-align: center;
}

.card{
  text-align: center;
  background-color: var(--CARD_BG);
}

.card .btn{
  margin:5px;
}

.row{
  align-items: center;
}
/* Formulario */
#newForm{
  background-color: var(--FORM_BG);
  width: fit-content;
  margin: 0 auto;
  padding: 5vw;
}

#newForm form{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px;
  margin: 0;
}

/* body */
body{
  background-color: var(--BG_COLOR);
}

th,td{
  text-align: center;
}

table *{
  background-color: rgba(0, 0, 0, 0.05);
}